@import "./reset.scss";
@import "./variable.scss";
@import "./mixin.scss";

html,
body {
  max-width: 100%;
  min-height: 100%;
  // position: relative;
  // overflow: hidden;
  // 解决IScroll拖拽卡顿问题
  // touch-action: none;
}

body {
  @include font_size($font_medium);
  //@include font_size(50px);
  //font-size: 50px;
  font-family: Helvetica, sans-serif, STHeiTi;
}

img {
  vertical-align: bottom;
}

//封装vw的函数
$vm_base: 375;

@function vm($px) {

  @return ($px / 375) * 100vw;

}